@tailwind base;
@tailwind components;
@tailwind utilities;

.img-display {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.img-container:hover > .img-display {
  visibility: visible;
  opacity: 1;
	display: grid;
  /* animation-duration: 300ms; */
}