$primary: #82c126; 	

.floating_label {
    position:  relative; 
    margin-bottom:  10px;
    width:  100%; 
    label.login {
        position:  absolute; 
        top: calc(50% - 7px);
        left:  0; 
        opacity:  0; 
        transition:  all .3s ease; 
        padding-left:  44px; 
    }
    input.login {
        width:  calc(100% - 44px); 
        margin-left:  auto;
        display:  flex; 
    }
    .icon {
        position:  absolute; 
        top:  0; 
        left:  0; 
        height:  56px; 
        width:  44px; 
        display:  flex; 
        svg {
            height:  30px; 
            width:  30px; 
            margin:  auto;
            opacity:  .15; 
            transition:  all .3s ease; 
          path {
            transition:  all .3s ease; 
          }
        }
    }
    input.login:not(:placeholder-shown) {
        padding:  28px 0px 12px 0px; 
    }
    input.login:not(:placeholder-shown) + label {
        transform:  translateY(-10px); 
        opacity:  .7; 
    }
    input.login:valid:not(:placeholder-shown) + label + .icon {
        svg {
            opacity:  1; 
            path {
                fill: $primary; 
            }      
        }
      }
    input.login:not(:valid):not(:focus) + label + .icon {
        animation-name: shake-shake;
        animation-duration: .3s;
    }

}

$displacement:  3px; 
@keyframes shake-shake {
  0% { transform: translateX(-$displacement);}
  20% { transform: translateX($displacement); }
  40% { transform: translateX(-$displacement);}
  60% { transform: translateX($displacement);}  
  80% { transform: translateX(-$displacement);}
  100% { transform: translateX(0px);}
}

input.login {
    font-size:  16px; 
    padding:  20px 0px; 
    height:  56px; 
    border:  none; 
    border-bottom:  solid 1px rgba(0,0,0,.1); 
    background: transparent; 
    width:  280px; 
    box-sizing:  border-box; 
    transition:  all .3s linear; 
    color:  #000; 
    font-weight:  400;
    -webkit-appearance:  none; 
    &:focus {
        border-bottom:  solid 1px $primary; 
        outline: 0; 
        box-shadow:  0 2px 6px -8px rgba($primary, .45);
    }
}



label.login {
    font-size:  12.5px; 
    color:  #000;
    opacity:  .8;
    font-weight:  400; 
}